<h1>Edit this User!</h1>

<%= form_for @user do |f| %>

    <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :picture_file_name %>
    <%= f.text_field :picture_file_name %>
  </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the list!", users_path %>
